<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="../style.css">
    link(rel="stylesheet", href="./style.css")
    link(rel="stylesheet", href="../style.css")
    link(rel="stylesheet", href="style.css")
    <title>Educate yourself</title>
    style
      include ./style.css
    //- style  
    //-   include ../style.css
    //- style
    //-   include style.css
</head>
<!-- <script src="./javascript/index.js"></script> -->
<body>
    <!-- <h1>fawad</h1> -->
    <div id="grid">
        <nav>
        <!-- <div class="container">     -->
        //- <img src="./img/logo.jpg" alt="">
        <img src="../logo.jpg", alt="">
        <ul class="nav_ul">
            <li><a href="#Home">Home</a></li>
            <li><a href="#About">About</a></li>
            //- <li><a href="#Services">Services</a></li>
            <li><a href="#Contact">Contact</a></li>
        </ul>
    <!-- </div> -->
    </nav>
    <header id="Home">
        <div class="container"> 
        <div class="h_data">
        <h1>Future of Education</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, reprehenderit quidem. Soluta vitae nostrum, animi fuga facere ducimus suscipit ipsam corrupti, impedit, rerum tempora eaque. Quam labore explicabo sed porro!</p>
        <a href="#Subscribe">Subscribe</a>
        <a href="#Watch_Video">Watch Video</a>
        </div>
        <div class="h_img">
            //- <img src="./img/logo.jpg" alt="">
            //- <img src="/logo.jpg" alt="">
            //- <img src="./logo.jpg" alt="">
            //- <img src="../logo.jpg" alt="">
            //- <!-- <div class="clearfix"> -->
        </div>
        <div class="clearfix">
            
        </div>
        <!-- <div class="clearfix"> -->
        </div>
    </header>
    <main id="About">
        <div class="container1">
        <div class="main_1">
        <h1>The end of your search is here.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, aspernatur velit fuga, quisquam quas sapiente aperiam quae cupiditate optio quo ullam incidunt omnis. Praesentium reiciendis ipsa architecto repellendus nihil perferendis, expedita quisquam ipsam aliquid cumque dicta iure saepe, laudantium vitae incidunt molestiae ab ducimus. Ab, repudiandae quia. Maxime, omnis velit.</p>
        <br>
        <br>
         <div class="main_1_img"> 
            //- <img src="./img/sec1.jpg" alt="">
            //- <img src="../img/sec1.jpg" alt="">
            //- <img src="../img/bg.jpg" alt="">

            <img src="../sec1.jpg" alt="">
        </div>
        //- <!-- </div> -->
        <div class="main_2_img">
                <h1>Education system in Pakistan</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad reprehenderit consectetur, facere recusandae maxime dicta asperiores et odio! Nihil molestiae quaerat tempore laboriosam ad, repellat alias velit ratione accusantium, nesciunt consectetur voluptas unde accusamus sed, perspiciatis enim. Hic perspiciatis, unde asperiores porro doloribus totam doloremque consequuntur fugit, recusandae soluta optio.</p>
                <br>
        <br>
                //- <img src="./img/sec2.jpg" alt="">
                <img src="../sec2.jpg" alt="">
        </div>
    </div>
    </main>
    //- <br>
        //- <br>
    //- <section id="Services">
    //-     <h1>Services</h1>
    //-     <h2>Matric</h2>
    //-     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia suscipit laudantium deleniti. Corporis, libero odio.</p>
    //-     <img src="../services1.jpg" alt="">
    //-     //- <img src="../sec2.jpg" alt="">
    //-     <h2>Inter</h2>
    //-     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nemo ipsum officiis quaerat hic eius!</p>
    //-     <img src="../services2.jpg" alt="">
    //-     <h2>BS</h2>
    //-     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo blanditiis et, aspernatur alias perferendis impedit.</p>
    //-      <img src="../services3.jpg" alt="">
    //- </section>
        
    <article id="Contact">
        <img src="../contactbg.jpg" alt="">
        <form action=" " method="post">
        <label for="name">Enter your name</label>
        <br>
        <br>
        <input type="text" name="name" id="name" placeholder="Your name...">
        <br>
        <br>
        <label for="password">Enter Password</label>
        <br>
        <br>
        <input type="password" name="password" id="password" placeholder="Password...">
        <br>
        <br>
        <label for="email">Enter your Email</label>
        <br>
        <br>
        <input type="email" name="email" id="email" placeholder="Your email...">
        <br>
        <br>
        <textarea name="Comment Here..." id="textarea" cols="30" rows="10"></textarea>
        <br>
        <br>
        <input type="submit" value="Submit" class="submit">
        <br>
        </form>
    </article>
    <footer>
       <p>www.Future of Education.com .All rights &copy; reserved </p> 
    </footer>
    </div>
</body>
</html>